.card-background {
  height: 3000px;
  margin-top: 800px;
  margin-bottom: 1600px;
}

.card-box img {
  display: block;
  margin: auto;
  max-width: 80%;
}

.card-box {
  position: sticky;
  top: 200px;
  margin-top: 100px;
  /* transform: scale(1); */
  transition: all 0.2s;
}
