.alert-Box {
  background: rgb(171, 226, 233);
  color: rgb(69, 99, 72);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.idBox {
  background: rgb(171, 226, 233);
  color: rgb(69, 99, 72);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.pwBox {
  background: rgb(171, 226, 233);
  color: rgb(69, 99, 72);
  padding: 20px;
  border-radius: 5px;
  display: none;
}

.yellow-bg {
  background: rgb(255, 255, 138);
}

.main-background {
  background-image: url(food.jpg);
  background-size: cover;
  color: white;
  border-radius: 0px;
}

.black-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;

  /* margin-top: -1200px; */
  /* display: none; */
  /* display: block; */
  transition: all 1s;
  transform: translateY(-1000px);
  /* margin-top: -1000px; */
  /* 같은 효과를 볼 수 있는 것들 */
  /* visibility: hidden; */
  /* opacity: 0; */
}
.slide-down {
  transform: translateY(0px);
}
.white-background {
  background: white;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

h4 {
  margin: 0;
}

.nav-sub {
  display: none;
}

#email-alert {
  display: none;
}
#pw-alert {
  display: none;
}

.left-menu {
  width: 150px;
  height: 100%;
  background: black;
  color: white;
  position: fixed;

  /* 숨김 */
  margin-left: -150px;
  /* -150px -> 0px로 하면 나옴 */
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  width: 100%;
}
.slide-container {
  width: 300vw;
  transition: transform 1s;

  /* transform: translateX(-100vw); */
}

.slide-next {
  position: absolute;
  top: 45%;
  right: 0%;
}
