* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */

.navbar{
  height:50px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar #logo{
  
  line-height: 60px;
}

.navbar #logo imt{
  vertical-align: middle;
}
#menu{
  float:right;
  padding-right:30px;
}
#menu li{
  list-style:none;
  float:right;
    margin-left:30px;
font-family: "Helvetica";
  font-size:13px;
  font-weight:bold;
  

}
#menu a{
    text-decoration:none;
  color:black;

}

.class img{
  padding-left:30px;
 
}
.class{
  vertical-align:middle; 
}

.helper{
  vertical-align:middle; 
}
/* hero header */

/* products */

#info{
  margin-top:60px;
  margin-bottom:60px;
  text-align:center;
  font-size:24px;
    color:#545454;
  font-family: "Helvetica";
    font-weight:bold;
}


#products-container{

width:725px;

margin-left:auto;
  margin-right:auto;
  margin-bottom: 120px;
}

#product1{
  float:left;
	text-align:center;
    text-decoration:none;
  color:black;

}
#product2{
  float:left;
  margin-left:20px;
  	text-align:center;
    text-decoration:none;
  color:black;
  
}
#product3{
    margin-left:20px;
  	margin-right:0;
    float:left;
  	text-align:center;
    text-decoration:none;
  color:black;
  margin-bottom: 80px;
}

#product4{
float: left;

text-align:center;
    text-decoration:none;
  color:black;
}

#product5{
  float: left;
  margin-left:20px;
  text-align:center;
      text-decoration:none;
    color:black;
  
  }
#product6{
  margin-left:20px;
  float: left;
  text-align:center;
      text-decoration:none;
    color:black;
    margin-bottom: 80px;
  }
#product7{
  float: left;
  
  text-align:center;
      text-decoration:none;
    color:black;
  }
#product8{
float: left;
margin-left:20px;
text-align:center;
    text-decoration:none;
  color:black;
}
#product9{
  float: left;
  margin-left:20px;
  text-align:center;
      text-decoration:none;
    color:black;
  }
.sunglasses{
    margin-top:20px;
  margin-bottom:4px;
}
.tassel_loafer{
      margin-top:20px;
  margin-bottom:4px;
}
.beige_bag{
      margin-top:20px;
   margin-bottom:4px;  
}
.sneakers{
  margin-top:20px;
  margin-bottom:4px;
}

.slippers{
  margin-top:20px;
  margin-bottom:4px;
}
.wrist_watch{
  margin-top:20px;
  margin-bottom:4px;
}
.fedora_hat{
  margin-top:20px;
  margin-bottom:4px;
}
.classic_loafer{
  margin-top:20px;
  margin-bottom:4px;
}


.pink_bag{
  margin-top:20px;
  margin-bottom:4px;
}

.clearfix{
  clear:left;
}


/* footer */


.link {
 text-align: center;
 margin-bottom: 80px;
}

#facebook{
  margin-right: 20px;
}

#instagram{
  margin-right: 20px;
}