:root {
    --text-color: #d1c4e9;
    --background-color: #e6ee9c;
    --accent-color: #29b6f6;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar__logo i {
    color: red;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: orange;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;
}

.navbar__toggleButton {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: orange;
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar__toggleButton {
        display: block;
    }
    .navbar__menu.active, .navbar__icons.active {
        display: flex;
    }
}