body{
    background-color: lightblue;
}

.btn{
    cursor:pointer;
}
body{
     color:#34495e;
     text-align: center;
}

.clicked{
    color : #7f8c8d;
}

.form,
.greetings{
    display: none;

}
.showing{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.bgImage{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}
