body{
    background-color: lightblue;
}

.btn{
    cursor:pointer;
}
body{
     color:#34495e;
     
}

.clicked{
    color : #7f8c8d;
}

.form,
.greetings{
    display: none;

}
.showing{
    display: block;
}