* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



#navbar{
  
  height: 60px;
  width: 100%;
  color:white;
  background-color: #353535;
  padding-left: 30px;
  font-size: 20px;
  line-height: 60px;
}


img{
  width: 100%;
  height: 350px;
}


#content{
  padding-left: 30px;
  padding-right: 30px;
  height:300px;
  line-height: 300px;
  
}
#content .info{
  vertical-align: middle;
  line-height: normal;
  display: inline-block;
}

#content h2{
  font-size: 16px;
  color: #4a4a4a;
}

#content p{
  margin-bottom: 10px;
  font-size: 16px;
  color: #7a7aa7;

}
#content h1{
  margin-bottom: 30px;
  font-size: 20px;
  color: #1b1b1b;

}
#div1{
  background-image: url(../images/img1.jpg);
  height: 450px;
  background-size: cover;
  background-position: center center;
}
#div2{
  background-image: url(../images/img2.jpg);
  background-size: cover;
  height: 300px;
  line-height: 300px;
  text-align: center;
  background-position: center center;
}
#div2 p{
  text-align: center;
  padding:9px 40px;
  margin: auto 0;
  color: white;
  font-size: 16px;
  border : 4px solid white;
  line-height: normal;
  display: inline-block;
}
#div3{
  background-image: url(../images/img3.jpg);
  height: 250px;
  background-position: center center;
  background-size: cover;

}
/* Tablet */
@media(min-width:768px){
  #content{
    padding-left: 65px;
    padding-right: 65px;
  }
  img{
    height: 600px;
  }
  #div1{
    width: 50%;
    height: 500px;
    float:left;
  }
  #div2{
    float: left;
    width: 50%;
    height: 250px;
  }
  #div3{
    float: left;
    width: 50%;
    height: 250px;
  }
}

/* desktop */
@media(min-width:992px){
img{
  float: left;
  height:800px;
  width:50%;
}
 #content{
   float: left;
   width: 50%;
   line-height: 300px;
 } 
#div1{
  width: 25%;
  float: left;
  height: 500px;
}
#div2{
  float: left;
  width: 25%;
}
#div3{
  float: left;
  width: 25%;
}


}

