{% extends 'base.html' %}
{% block body %}
<h2 class="container">Search : {{ search }}</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>GENRE</th>
        <th>SCORE</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <th>{{ movie.id }}</th>
        <th><a href="{% url 'movie:detail' movie.id %}">{{ movie.title }} <br>({{ movie.title_en }})</a></th>
        <th>{{ movie.genre }}</th>
        <th>{{ movie.score }}</th>
    </tr>
    {% empty %}
    <div class="container">
        <h3>No Movie!</h3>
    </div>
    {% endfor %}
</table>
{% endblock %}